body {
    background-color: #f9f9f9;
}
.cy-container div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
}

.custom-graph {
    border: 1px solid #000;
}

.custom-graph .node {
    border: 1px solid #000;
    position: absolute;
    /*padding: 20px;*/
    /*margin: 10px;*/
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: #ccc;
    box-shadow: 1px 1px 3px #eee;
}

.custom-graph .node .title {
    position: relative;
    top: 20px;
    left: 30px;
    text-transform: uppercase;
    font-weight: 600;
}
.danger {
    color: #e63025;
}
.warning {
    color: #f7b600;
}
.custom-graph .node .subtitle {
    position: relative;
    top: 20px;
    left: 30px;
    font-weight: 800;
    font-size: 18px;
}

.custom-graph .node .icon {
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 34px;
    color: #ccc;
}

.progressbar-xs {
    height: 6px;
}

.custom-graph .node {
    background-color: #fff;
}

.custom-graph .node .percentage-container {
    margin-top: 20px;
    margin-left: 14px;
    display: flex;
    flex-direction: row;
}
.custom-graph .node .percentage-label {
    font-size: 18px;
    font-weight: 800;
}
.custom-graph .node .percentage-container .percentage-col {
    flex: 1;
}
.custom-graph .node .percentage-container .percentage-col.percentage-label {
    margin-left: 15px;
    flex: 0.8;
}
.custom-graph .node .percentage-container .percentage-col .progress {
    flex: 2;
    margin-top: 11px;
}
.custom-graph .node .percentage-container .percentage-col.percentage-num {
    margin-top: 4px;
    text-align: center;
    flex: 0.5;
}
