$red: #e63025;
$yellow: #f7b600;

body {
  background-color: #f9f9f9;
}

.container-responsive {
  padding: 20px;
}

.nav {
  //padding: 20px;
}

.cy-container {
  div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.custom-graph {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  .node {
    cursor: pointer;
    border: 1px solid #000;
    position: absolute;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: #ccc;
    box-shadow: 1px 1px 3px #eee;
    background-color: #fff;

    .title {
      position: relative;
      top: 20px;
      left: 30px;
      text-transform: uppercase;
      font-weight: 600;
    }
    .subtitle {
      position: relative;
      top: 20px;
      left: 30px;
      font-weight: 800;
      font-size: 18px;
    }
    .icon {
      position: absolute;
      top: 25px;
      right: 20px;
      font-size: 34px;
      color: #ccc;
    }
    .percentage-container {
      margin-top: 20px;
      margin-left: 14px;
      display: flex;
      flex-direction: row;
      .percentage-col {
        flex: 1;
        &.percentage-label {
          margin-left: 15px;
          flex: 0.8;
        }
        &.percentage-num {
          margin-top: 4px;
          text-align: center;
          flex: 0.5;
        }
        .progress {
          flex: 2;
          margin-top: 11px;
        }
      }
    }
    .percentage-label {
      font-size: 18px;
      font-weight: 800;
    }
  }
}

.danger {
  color: $red;
}
.warning {
  color: $yellow;
}
.progressbar-xs {
  height: 6px;
}
